* {
  margin: 0px;
  padding: 0px;
}

.helo {
  size: 100px;
}

html body {
  overflow-x: hidden;
}

/* -----------------------------nav bar two hover --- */
.one {
  color: rgb(255, 0, 0);
}
.head-ul .he:hover {
  color: rgb(255, 0, 0);
}

/* ===service menu drop down ===  */
.servicesmenu:hover .servicedropdownitem {
  display: block;
  transition: all 50s ease-in-out;
}
.servicedropdownitem {
  display: none;
  transition: all 50s ease-in-out;
}

/* @media (max-width: 768px) {
  .servicedropdownitem {
    display: block;
  }
} */
/* -----------end --------- */

.image-container {
  overflow: hidden;
  position: relative;
}

.zoom-in-zoom-out {
  animation: zoom-in-zoom-out 30s ease-in-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* ========================== Contact page =========*/
.Contact-banner {
  background-image: linear-gradient(
    150deg,
    #000000 0%,
    rgba(51, 51, 51, 0.1) 100%
  );
}
/* ============== all page black and white GrayScale============= */

.Baner-black-white {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
.Baner-black-white:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}
.Baner-black-white {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
